In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [14]:
df_raw = pd.read_csv('data/train.csv').drop(['PassengerId','Name'], axis=1)
y = df_raw.pop('Survived')

In [15]:
df_raw.tail()

     Pclass     Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886       2    male  27.0      0      0      211536  13.00   NaN        S
887       1  female  19.0      0      0      112053  30.00   B42        S
888       3  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889       1    male  26.0      0      0      111369  30.00  C148        C
890       3    male  32.0      0      0      370376   7.75   NaN        Q

In [18]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(3), object(4)
memory usage: 62.7+ KB

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_val, y_train, y_val = train_test_split(df_raw, y, test_size=0.2, random_state=2)

In [13]:
m = RandomForestClassifier(n_jobs=-1)
m.fit(X_train, y_train)
predictions = m.predict(X_val)

C:\Users\BPS\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: 'male'